@import './../../../../../assets/scss/base';

.rp-item {
	background-color: var(--c4);
	border-radius: 0;
	color: var(--c8);
	margin: 5px 0;
	padding: 15px;

	.rp-title-date {
		align-items: center;
		display: flex;
		justify-content: space-between;
		margin-bottom: 20px;

		.rp-title {
			color: var(--c6);
			font-size: fontSize(18px);
			padding-right: 20px;
			margin: 0;
		}

		.rp-date {
			font-size: fontSize(13px);
			margin: 0;
		}
	}

	.rp-summary {
		color: var(--c2);
		margin-bottom: 20px;
	}

	a {
		color: var(--c7);
		display: block;
		margin-top: 20px;
		word-break: break-all;
	}

	p {
		color: var(--c8);
		margin: 5px 0;

		&:last-child {
			margin-bottom: 0;
		}
	}

	hr {
		border: none;
		border-top: 1px solid var(--c5);
	}

	img {
		max-width: 400px;
	}

	// media
	@media (max-width: 600px) {
		.rp-title-date {
			display: block;

			.rp-title {
				white-space: normal;
			}

			.rp-date {
				margin-top: 5px;
			}
		}
	}
}
