@import './../../../../assets/scss/base';

.rp-parser-list {
	.rp-content {
		.rp-info {
			background-color: var(--c6);
			margin: 5px 0;
			padding: 15px;

			.rp-title-date {
				align-items: center;
				display: flex;
				justify-content: space-between;
				margin-bottom: 20px;

				.rp-title {
					color: var(--c1);
					font-size: fontSize(18px);
					padding-right: 20px;
					margin: 0;
				}

				.rp-date {
					font-size: fontSize(13px);
					margin: 0;
				}
			}

			a {
				color: var(--c4);
			}
		}

		.rp-end {
			margin-bottom: 30px;
		}
	}

	.rp-error {
		background-color: var(--c4);
		border-radius: 0 0 10px 10px;
		margin: 5px 0 20px;
		padding: 15px;

		h3 {
			color: var(--c9);
			margin: 0;
		}

		p {
			color: var(--c8);
			margin: 5px 0;
		}
	}

	.rp-load-more {
		margin-top: 20px;
		text-align: center;
	}
}
