@import './../../../../../assets/scss/base';

.rp-pagination {
	background-color: var(--c4);
	border-radius: 0 0 10px 10px;
	display: flex;
	justify-content: space-between;
	margin: 5px 0 30px;
	padding: 15px;

	&.rp-start {
		border-radius: 0;
		margin: 5px 0;
	}
}
